<div class="container" style="margin-top: 100px">
{{!--fila 1--}}
    
  <div class="row">
        <div class="col">
            <p class="text-end">
               <span> Hola {{usuario}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion<i
                        class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>

    </div>
    {{!--fila 2--}}
    <div class="row">
        <div class="col-7" style="margin-top: -9px ;">
            <h2>Estadisticas historicas de la seleccion Argentina</h2>
            <p>En esta seccion podras ver y editar las estadisticas que se han publicado en el sitio.</p>
        </div>
        <div class="col-5 text-right">
            <a href="/admin/estadisticas/agregar" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
        </div>
    </div>
    {{!--fila 3--}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Partidos</th>
                        <th scope="col">Goles</th>
                        <th scope="col">Asistencias</th>
                        <th scope="col">Amarillas</th>
                        <th scope="col">Rojas</th>
                        
                        <th scope="col" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each estadisticas}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{{imagen}}}</td>
                        <td>{{partidos}}</td>
                        <td>{{goles}}</td>
                        <td>{{asistencias}}</td>
                        <td>{{amarillas}}</td>
                        <td>{{rojas}}</td>
                        <td class="text-center">
                            <a href="/admin/estadisticas/modificar/{{id}}" title="Editar" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/estadisticas/eliminar/{{id}}" title="Eliminar" class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>